html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --app-container-bg: #f6f8ff;
  --content-container-bg: #ffffff;
  --slider-width: 240px;
  --main-padding: 24px;
  --main-radius: 16px;
  --secondary-radius: 8px;
  --thirdary-radius: 4px;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;

  --link-color: #1f1c2e;
  --link-color-hover-bg: #7C5CFC;
  --link-color-active: #ffffff;
  --link-color-active-bg: #7C5CFC;

  --slider-color: #333333;
  --slider-color-hover-bg: #434ce8;
  --slider-color-active: #ecf3fe;
  --slider-color-active-bg: #434ce8;


  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2;
  --message-btn: #fff;

  --trans-ease: all ease 0.2s;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--app-container-bg);
  font-family: "DM Sans", sans-serif;
}
.useful-page-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 var(--main-padding) var(--main-padding) var(--main-padding);
}
.page-content {
  flex: 1;
  overflow: hidden;
  background-color: var(--content-container-bg);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.sources-list {
  display: flex;
  flex-direction: column;
  .sources-list_item {
    margin-top: 12px;
    display: flex;
    align-items: center;
    &-name,
    &-address {
      margin-left: 12px;
    }
  }
  .sources-list_item-author {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .sources-list_item-address {
    color: var(--link-color-hover-bg);
    transition: var(--trans-ease);
    &:hover {
      cursor: pointer;
      color: var(--slider-color-active-bg);
    }
  }
}
